@import '~src/scss/variables';

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000; 
}
.nav-brand {
  text-align: center;
}
.topnav-icon {
  text-decoration: none;
  display: flex;
  color: $white;
}

.nav-spacer {
  flex: 1 1 auto;
}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}
.revenue-coverage
{
  width: 100px;
  .pgrs-text
  {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 992px) {
  .visible-md {
      display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
      display: block;
  }
  .nav-brand {
      width: 100%;
  }

  .revenue-coverage {
      width: 50px;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
      display: none;
  }
}

@media screen and (max-width: 600px) {
  .hidden-xs {
      display: none;
  }
}
 
