<!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between stretch">
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'danger'" [icon]="'bookmarks'" [count]="13" [label]="'New Tickets!'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'New Task!'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat>
  </div>
  <div class="mb10" fxFlex="24" fxFlex.lt-lg="49">
    <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat>
  </div>
</div>

<div class="mt20" fxLayout="row" fxLayoutAlign="space-between stretch" fxLayout.lt-md="column" fxLayoutGap="20px" >
  <mat-card fxFlex="24" fxFlex.lt-lg="49" *ngFor="let item of places"> 
    <mat-card-header style="justify-content: center">
      <mat-card-title>
        <h3 class="m-0">{{item.name}}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{item.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>{{item.charge}}</button>
      <button mat-button>
        <mat-icon class="location-icon">location_on</mat-icon> {{item.location}}
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->
<div fxLayout="row nowrap" fxLayout.lt-sm="column" fxLayoutAlign="start" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
 <div fxFlex class="pt10">
   Summary Overview
 </div>
  <div fxFlex >
    <div fxLayout="row nowrap" fxLayoutAlign="end"  >
      <button mat-button color="primary" [routerLink]="['allaccounts']">View All Accounts(25)</button> 
      <button mat-button color="primary" [routerLink]="['pnlworkbook']">Workbook</button>  
    </div>
  </div>
</div> 
  <app-stat [summary]="summarylist" ></app-stat>
 
 

  <div fxLayout="row nowrap" fxLayout.lt-sm="column" fxLayoutAlign="start" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
    <div fxFlex class="pt10">
     Backlog Guidance
    </div>
     <div fxFlex >
       <div fxLayout="row nowrap" fxLayoutAlign="end"  class="viewlink pt10" >
        <!-- <span class="material-icons">download</span>   -->
        <button mat-button color="primary" >Download Excel</button>  
      
       </div>
     </div>
   </div>
<app-grid></app-grid>