@import 'variables';
.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.px20 {
  padding-right: 20px;
  padding-left: 20px;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.bg-white {
  background: $white;
}

.table-container
{
  width: 100%;
  padding: 0;
  .table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #B9BBBC;
  }
  .table thead th{
    background-color: $primary-color;
    color: $white;
    text-align: center;
    border: 1px solid #DEE2E6;
    font-weight: 600;
    padding: 8px;
  }
  .table .subhead th{
    background-color: #DEE2E6;
    text-align: left;
    padding: 8px;
  }
  .table tbody td{ 
    text-align: center;
    border: 1px solid #B9BBBC;
    padding: 8px;
  }
}

.icon-lg {
  font-size: 40px;
}

mat-form-field.mat-form-field {
  font-size: 14px;
}

.page-subhead
{
  font-size:16px;
  color: $primary-color;
  margin-top: 5px;
}

@keyframes moving-gradient {
  0% {
    background-position: -250px 0;
  }
  100% {
    background-position: 250px 0;
  }
}


.tdloading {
  width: 80%;
  height: 12px;
  background: linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%);
  background-size: 500px 100px;
  animation-name: moving-gradient;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}